        	<section id="tier1">
            	<div id="welcome">
            		<%= image_tag('vial.png', id: "vial") %>
            		<h1>Welcome to Creative Labs</h1><br>
                	<h2>Let us</h2> 
                	<h2 id ="message">Build you a website</h2>
                	<%= image_tag('refresh.png', id: "refresh") %>
                
                	<div id="click-here">
                    	<%= image_tag('clickhere.png', id: "left-arrow") %> 
                	</div><!--end click here-->
                </div><!--end welcome-->
                
                    <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
                    <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
                    
                  <h3>Here at creative labs, we strive for perfection<br>
					bringing you standard compliant, original and <br>
					intuitive websites at a highly competitive rate</h3>
                    <div class="standards">
                    	<%= image_tag('gear.png', id: "gear") %>
                        <article>
                        	<p>Resources as a reward to WikiLeaks if it makes the negotiating text of the TPP public. Our pledge, as individuals, is to donate this 										
                        money to WikiLeaks should it leak the document we seek.</p>
                        </article>
                    </div><!--end standards-->
                    <div class="standards">
                    	<%= image_tag('lock.png', id: "lock") %>
                        <article>
	                    	<p>Resources as a reward to WikiLeaks if it makes the negotiating text of the TPP public. Our pledge, as individuals, is to donate this 										
                        money to WikiLeaks should it leak the document we seek.</p>
                        </article>
                    </div><!--end standards-->
                    <div class="standards">
                    	<%= image_tag('mag.png', id: "mag") %>
                        <article>
                    		<p>Resources as a reward to WikiLeaks if it makes the negotiating text of the TPP public. Our pledge, as individuals, is to donate this 										
                        money to WikiLeaks should it leak the document we seek.</p>
                        </article>
                    </div><!--end standards-->\
                    
                    <div class="fix">
                    </div><br>
                    <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
                    <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
                    
       		</section><!--end tier 1-->
        
        	<section id="tier2">
            	<h1 class="title">About us</h1>
                <p class="content">"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled 
and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot 
foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail 
in their duty through weakness of will, which is the same as saying through shrinking from toil 
and pain. These cases are perfectly simple and easy to distinguish. </p>
				<h4>Our Mission</h4>
                <p class="content">In a free hour, when our power of choice is untrammelled and when nothing prevents our being 
able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in 
certain circumstances and owing to the claims of duty or the obligations of business it will 
frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man 
therefore always holds in these matters to this principle of selection: he rejects pleasures to secure 
other greater pleasures, or else he endures pains to avoid worse pains."</p>
				<div class="employees">
                	<%= image_tag('barret.jpg', class: "picture", id: "barret", alt: "Barret LaPlante") %>
                    <div class="name-holder">
                    	<%= image_tag('profile.png', class: "profile") %>
                    	<h1 class="name">Barret LaPlante</h1>
                    </div><!--end name-holder-->
                    <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                    <div class="emp-social">
                    	<%= image_tag('emp-twitter.png', alt: "Twitter") %>
                    	<%= image_tag('emp-home.png', alt: "Home Page") %>
                        <%= image_tag('emp-linkedin.png', alt: "Linked In") %>
                    </div><!--end emp-social-->
                </div><!--end employees-->
                
                <div class="employees">
                	<%= image_tag('barret.jpg', class: "picture", id: "tyler", alt: "Tyler Rand") %>
                    <div class="name-holder">
                    	<%= image_tag('profile.png', class: "profile") %>
                    	<h1 class="name">Tyler Rand</h1>
                    </div><!--end name-holder-->
                    <p>In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted.</p>
                    <div class="emp-social">
                    	<%= image_tag('emp-twitter.png', alt: "Twitter") %>
                    	<%= image_tag('emp-home.png', alt: "Home Page") %>
                        <%= image_tag('emp-linkedin.png', alt: "Linked In") %>
                    </div><!--end emp-social-->
                </div><!--end employees-->
                
                <div class="fix">
                </div><br>
                
                <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
                <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
        	</section><!--end tier 2-->
        
        	<section id="tier3">
            	<h1 class="title">Portfolio</h1>
                
                 <div class="fix">
                 </div><br>
                <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
                <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
        	</section><!--end tier 3-->
        
        	<section id="tier4">
            	<h1 class="title">What's New?</h1>
                
                <div class="fix">
                </div><br>
                
                <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
                <hr style="color:#ef950f;background-color:#ef950f;height:2px;border:none;" />
        	</section><!--end tier 4-->
            
            <section id="tier5">
            	<h1 class="title">Contact Us</h1>
        	</section><!--end tier 4-->








